html, body{
      height:100%;
      margin:0;
      padding:0;
}
body {
      background-color: #000;
}

#click-cover {
      display: block;
}
#click {
      text-align: center;
      background-color: #000;
}
#cover {
      opacity: 0;
      display: block;
}
.vertical-center {
      min-height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      border: 2px solid black;
      padding: 1px;
      border-radius: 5px;
      box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.61);
}
#main {
      text-align: center;
      background-color: #000;
      opacity: 0.8;
      border: 2px solid black;
      padding: 1px;
      border-radius: 5px;
      box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.61);
}
#dot-matrix {
      background: url(/images/dot.png);
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1
}
i {
      font-size: 32px;
      vertical-align: middle;
}
h1 {
      font-family: 'hackedregular';
      font-size: 72px;
}
a {
      text-decoration: none !important;
}
.social {
      font-family: 'hackedregular';
      font-size: 24px;
      border: 2px solid black;
      padding: 1px;
      border-radius: 5px;
      box-shadow: 0px 6px 16px 2px rgba(0,0,0,0.61);
}
#info {
      font-family: monospace;
      font-size: 12px;
      text-transform: uppercase;
